@using Panis.Models
@model LoginViewModel
@{
    Layout = null;
}

    <head>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="~/Content/LogIn.css" rel="stylesheet" />
    </head>

        <div class="text-center">
            <img class="img-responsive center-block" src="~/Content/Images/logo.png" style="max-height:250px; max-width:250px; " />
        </div>
        <section class="login-block">

            <div class="container">

                <div class="row">
                    <div class="col-md-4 login-sec">

                        <h2 id="audiowide" class="text-center">Login Now</h2>
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <div id="input-container">
                                    <i class="fas fa-user"></i>
                                    <input type="text" class="form-control" placeholder="" name="username">
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="input-container">
                                    <i class="fas fa-lock"></i>
                                    <input type="password" class="form-control" placeholder="" name="password">
                                </div>
                            </div>


                            <div class="form-group">
                                @*<div id="captcha" class="g-recaptcha" data-sitekey="6Lel4Z4UAAAAAOa8LO1Q9mqKRUiMYl_00o5mXJrR" data-callback="enableBtn"></div>*@
                                <div class="mt-2">
                                    <button id="button1" type="submit" class="btn btn-primary" @*disabled="true"*@>Login</button>
                                    <pre id='log'></pre>
                                </div>
                            </div>

                        }

                        </div>
                    <div class="col-md-8 banner-sec">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="d-block img-fluid" src="https://www.panonit.com/sites/default/files/SWS_2972_1920-pcroped_0.jpg" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block   img-fluid" src="https://www.panonit.com/sites/default/files/SWS_2921_1920px.jpg" alt="Second slide">
                                    <div class="carousel-caption d-none d-md-block">

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-fluid" src="https://www.panonit.com/sites/default/files/SWS_3654_1920px-bright_0.jpg" alt="Third slide">
                                    <div class="carousel-caption d-none d-md-block">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <style>
            @@import url('https://fonts.googleapis.com/css?family=Audiowide|Lato|Raleway');

            body {
                background: #1f97b7;
                background: -webkit-linear-gradient(to bottom, #1f97b7, white,#34495E);
                background: linear-gradient(to bottom, #34495E,#1f97b7, white);
            }

            .login-block {
                float: left;
                width: 100%;
            }

            .banner-sec {
                background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom;
                background-size: cover;
                min-height: 500px;
                border-radius: 0 10px 10px 0;
                padding: 0;
            }

            #audiowide {
                font-family: 'Audiowide';
            }

            #lato, * {
                font-family: 'Lato';
            }

            #raleway, label {
                font-family: 'Raleway';
            }

            .container {
                background: white;
                border-radius: 10px;
                box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
            }

            .carousel-inner {
                border-radius: 0 10px 10px 0;
            }

            .carousel-caption {
                text-align: left;
                left: 5%;
            }

            .login-sec {
                padding: 50px 30px;
                position: relative;
            }

                .login-sec .copy-text {
                    position: absolute;
                    width: 80%;
                    bottom: 20px;
                    font-size: 13px;
                    text-align: center;
                }

                    .login-sec .copy-text i {
                        color: #34495E;
                    }

                    .login-sec .copy-text a {
                        color: #34495E;
                    }

                .login-sec h2 {
                    margin-bottom: 30px;
                    font-weight: 800;
                    font-size: 30px;
                    color: #34495E;
                }

                    .login-sec h2:after {
                        content: " ";
                        width: 100px;
                        height: 5px;
                        background: #34495E;
                        display: block;
                        margin-top: 20px;
                        border-radius: 3px;
                        margin-left: auto;
                        margin-right: auto
                    }

            .btn-login {
                background: #DE6262;
                color: #fff;
                font-weight: 600;
            }

            .banner-text {
                width: 70%;
                position: absolute;
                bottom: 40px;
                padding-left: 20px;
            }

                .banner-text h2 {
                    color: #fff;
                    font-weight: 600;
                }

                    .banner-text h2:after {
                        content: " ";
                        width: 100px;
                        height: 5px;
                        background: #FFF;
                        display: block;
                        margin-top: 20px;
                        border-radius: 3px;
                    }

                .banner-text p {
                    color: #fff;
                }

            #input-container {
                position: relative;
            }

                #input-container > i {
                    position: absolute;
                    top: 12px;
                    left: 15px;
                }

                #input-container > input {
                    padding-left: 40px;
                }

            #button1 {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #1f97b7;
                border: 0;
                color: #FFFFFF;
                font-size: 14px;
                -webkit-transition: all 0.3 ease;
                transition: all 0.3 ease;
                cursor: pointer;
                text-align: center;
                width: 100%;
                height: 10%;
                position: relative;
                margin-top: 10px;
            }

            .g-recaptcha {
                transform: scale(1.06);
                transform-origin: 0 0;
            }

            img.img-fluid {
                height: 600px;
                width: 100%;
            }
        </style>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script>
            function enableBtn() {
                document.getElementById("button1").disabled = false;
            }
            $(".form-control").attr("autocomplete", "off");
            
        </script>
