<br />
<br />


@foreach (var teamLead in ViewBag.TeamLeads)
{

<div class="flip-container">
    <div class="flipper">
        <div class="front">
            <img class="profile-picture" src="http://sogomarketingagency.com/wp-content/uploads/brandons-profile-pic-e1407772966502.jpg" width="300px" height="300px">
            <div class="profile-devider"></div>
            <h3 class="profile-name">Brandon</h3>
            <h4 class="profile-title">Blogger</h4>
        </div>
        <div class="back">
            <div class="flip-padding">nesto</div>
        </div>
    </div>
</div>
}




<style>


    .flip-container {
        margin: 0 auto;
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        float: left;
        margin-right: 20px;
        width: 100px;
        height: 100px;
    }

        .flip-container:hover .flipper {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            width: 100px;
            height: 100px;
        }

    .flipper {
        -webkit-transition: 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 0.6s;
        -moz-transform-style: preserve-3d;
        position: relative;
        width: 100px;
        height: 100px;
    }

    .front, .back {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #ccc;
        width: 100px;
        height: 100px;
    }

    .front {
        z-index: 1;
        background: #fff;
    }

    .flip-container, .front, .back {
        width: 100px;
        height: 100px;
    }

    .back {
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        background: #f6f6f6;
        width: 100px;
        height: 100px;
    }

    .flip-padding {
        padding: 20px;
    }

    .profile-picture {
        width: 100px;
        height: 100px;
    }

    .profile-name, .profile-title {
        text-align: center;
    }

    .profile-name {
        font-size: 24px;
        margin-top: 20px;
        font-weight: 400;
        margin-bottom: 0px;
    }

    .profile-title {
        font-size: 16px;
        margin-top: 5px;
        font-weight: 300;
        color: #2196F3;
    }

    .profile-devider {
        width: 102%;
        height: 4px !important;
        background: #243B55;
        position: relative;
        margin: 0 auto;
        margin-top: -4px;
    }

        .profile-devider:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 15px 0;
            border-color: #243B55 transparent;
            display: block;
            width: 0;
            z-index: 1;
            left: 35px;
        }
</style>