<!-- FONTAWESOME 5 AND NORMALIZED CSS INSTALLED-->
<!-- View settings for more info.-->
    
    
        <div id="cubes">
            <div class="cube p2">
                <div class="name">
                    <h1>Brain</h1>
                    <p>Manager</p>
                </div>
                <div class="innerBorder"></div>
                <div class="darken"></div>
                <div class="content">
                    <ul>
                        <li><a href=""><span class="fab fa-twitter"></span></a></li>
                        <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href=""><span class="fab fa-instagram"></span></a></li>
                        <li><a href=""><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="cube p1">
                <div class="name">
                    <h1>Jessica</h1>
                    <p>Community Manager</p>
                </div>
                <div class="innerBorder"></div>
                <div class="darken"></div>
                <div class="content">
                    <ul>
                        <li><a href=""><span class="fab fa-twitter"></span></a></li>
                        <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href=""><span class="fab fa-instagram"></span></a></li>
                        <li><a href=""><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="cube p3">
                <div class="name">
                    <h1>Chris</h1>
                    <p>Web Developer</p>
                </div>
                <div class="innerBorder"></div>
                <div class="darken"></div>
                <div class="content">
                    <ul>
                        <li><a href=""><span class="fab fa-twitter"></span></a></li>
                        <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href=""><span class="fab fa-instagram"></span></a></li>
                        <li><a href=""><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="cube p4">
                <div class="name">
                    <h1>James</h1>
                    <p>UX / UI Designer</p>
                </div>
                <div class="innerBorder"></div>
                <div class="darken"></div>
                <div class="content">
                    <ul>
                        <li><a href=""><span class="fab fa-twitter"></span></a></li>
                        <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href=""><span class="fab fa-instagram"></span></a></li>
                        <li><a href=""><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="cube p5">
                <div class="name">
                    <h1>Rebecca</h1>
                    <p>Graphics Designer</p>
                </div>
                <div class="innerBorder"></div>
                <div class="darken"></div>
                <div class="content">
                    <ul>
                        <li><a href=""><span class="fab fa-twitter"></span></a></li>
                        <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href=""><span class="fab fa-instagram"></span></a></li>
                        <li><a href=""><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="cube p6">
                <div class="name">
                    <h1>James</h1>
                    <p>UX / UI Designer</p>
                </div>
                <div class="innerBorder"></div>
                <div class="darken"></div>
                <div class="content">
                    <ul>
                        <li><a href=""><span class="fab fa-twitter"></span></a></li>
                        <li><a href=""><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href=""><span class="fab fa-instagram"></span></a></li>
                        <li><a href=""><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
       
        <div class="moreTeam"><a href="#"><span>Meet more of the team</span><span class="fas fa-angle-right"></span></a></div>
    </div>


<style>
    .head {
        text-align: center;
    }

        .head h1 {
            font-weight: 400;
            position: relative;
        }

            .head h1:before, .head h1:after {
                content: "";
                height: 1px;
                width: 150px;
                background: #aaa;
                display: block;
                position: absolute;
                top: 50%;
            }

            .head h1:before {
                left: 0;
            }

            .head h1:after {
                right: 0;
            }
 
</style>