@model Panis.ViewModels.MailModel

 <link href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" rel="stylesheet" />
<br />
<br />
<div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
    <div class="demo-ribbon"></div>
    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">
                <h5>Send email to HR</h5>
                @using (Html.BeginForm("SendEMail", "SendMail", FormMethod.Post,
                new { enctype = "multipart/form-data" }))
                {

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="email" id="to" name="To" data-required="true" readonly="readonly" value="bobic015@outlook.com">
                        <label class="mdl-textfield__label" for="To">To</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="Subject" id="subject" data-required="true" readonly="readonly" value="@ViewBag.Subject ">
                        <label class="mdl-textfield__label" for="Subject">Subject</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea class="mdl-textfield__input" type="text" name="Body" rows="3" id="emailbody" data-required="true"></textarea>
                        <label class="mdl-textfield__label" for="sample5">Email body</label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                        <input type="file" name="fileUploader" id="file" />
                        <label for="file" class="btn-2">Attachment</label>
                        <br />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-info btn-lg">Send</button>
                        <div class="mdl-spinner mdl-js-spinner is-active"></div>

                        <span class="success-help">Your message has been sent!</span>
                    </div>
                }
            </div>
        </div>
    </main>
</div>

<style>
    .demo-ribbon {
        width: 100%;
        height: 34vh;
        background-color: #659DBD;
        flex-shrink: 0;
    }
   

    .demo-main {
        margin-top: -26vh;
        flex-shrink: 0;
    }

    .demo-header .mdl-layout__header-row {
        padding-left: 40px;
    }

    .demo-container {
        max-width: 1600px;
        width: calc(100% - 16px);
        margin: 0 auto;
    }

    .demo-content {
        border-radius: 2px;
        padding: 0px 56px 80px;
    }

    .demo-layout.is-small-screen .demo-content {
        padding: 0px 28px 40px;
    }

    .demo-content h3 {
        margin-top: 48px;
    }

    .demo-footer {
        padding-left: 40px;
    }

        .demo-footer .mdl-mini-footer--link-list a {
            font-size: 13px;
        }

    .mdl-textfield {
        width: 100%
    }
    #nesto55 {
        font-family: 'Electrolize', sans-serif;
    }
    .success-help {
        padding: 0 15px;
        vertical-align: 0px;
        display: none;
        font-size: 16px;
        color: #444;
    }

    .mdl-spinner {
        vertical-align: middle;
        margin: 0px 10px;
        display: none;
    }

    [type="file"] {
        height: 0;
        overflow: hidden;
        width: 0;
    }

        [type="file"] + label {
            background: #f15d22;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            
            font-size: inherit;
            font-weight: 600;
            margin-bottom: 1rem;
            outline: none;
            padding: 1rem 50px;
            position: relative;
            transition: all 0.3s;
            vertical-align: middle;
        }

            [type="file"] + label:hover {
                background-color: #34495E;
            }


            [type="file"] + label.btn-2 {
                background-color: black;
                border-radius: 50px;
                overflow: hidden;
            }

                [type="file"] + label.btn-2::before {
                    color: #fff;
                    content: "\f382";
                    
                    font-size: 100%;
                    height: 100%;
                    right: 100%;
                    line-height: 3.3;
                    position: absolute;
                    top: 0px;
                    transition: all 0.3s;
                }

                [type="file"] + label.btn-2:hover {
                    background-color: #34495E;
                }

                    [type="file"] + label.btn-2:hover::before {
                        right: 78%;
                    }
    #nesto55 {
        color: #EEE;
        font-weight: 100;
        margin-top: 50px !important;
        display: contents !important;
        text-decoration: none !important;
        position: absolute !important;
        font-size: 18px !important;
    }
    .side-nav .heading {
        padding-bottom:5px !important;
    }

    #nesto66 {
        margin-top: -13px !important;
       
    }

  
        /* Start num: there are three options primary, danger and success like Bootstrap */
    
    
</style>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script>
    $(function () {
        ["from", "to", "subject", "emailbody"].forEach(function (field) {
            $("#" + field).attr("required", true);
            $("#" + field).focus(function () {
                $(".success-help").fadeOut("fast");
            });
        });
        
    });

    
    
</script>